
<!-- Custom-Switcher JS -->
<script src="../assets/js/custom-switcher.min.js"></script>

<!-- Select2 Cdn -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
    window.addEventListener("load", function(){
        const tipoUser = sessionStorage.getItem('tipoUser');
        hideElementsBasedOnUserRole(tipoUser);
    });

    $('.single-select').select2({
        dir: "ltr"
    });

    $('.multiple-select').select2({
        dir: "ltr"
    });

    flatpickr(".datetime", {
        enableTime: true,
        dateFormat: "Y-m-d h:i K",
    });

    function formatarDataHora(data) {
        const options = {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: true
        };

        const formato = new Intl.DateTimeFormat('en-US', options).format(data);

        // Dividir a string em partes usando uma expressão regular
        const partes = formato.match(/(\d{1,2})\/(\d{1,2})\/(\d{4}), (\d{1,2}):(\d{2}) ([APMapm]{2})/);

        if (!partes) {
            throw new Error('Formato de data inválido');
        }

        // Extrair componentes da data
        const [, month, day, year, hour, minute, period] = partes;

        // Formatar a data no novo formato
        const novaDataFormatada = `${year}-${month}-${day} ${hour}:${minute} ${period.toUpperCase()}`;

        return novaDataFormatada;
    }

    function hideElementsBasedOnUserRole(tipoUser) {
        const elements = document.querySelectorAll('.restricao'); // Substitua 'your-target-elements' com o seletor CSS desejado para seus elementos

        elements.forEach(element => {
            const elementClasses = element.classList;

            // Verifica se há pelo menos uma classe restrita ao tipo de usuário
            let hideElement = true;

            if (
                (elementClasses.contains('admin') && tipoUser === '0') ||
                (elementClasses.contains('pastor') && tipoUser === '1') ||
                (elementClasses.contains('lider') && tipoUser === '2') ||
                (elementClasses.contains('ministerios') && tipoUser === '3') ||
                (elementClasses.contains('voluntarios') && tipoUser === '4') ||
                (elementClasses.contains('admin') && tipoUser === '5')
            ) {
                hideElement = false;
            }

            // Se pelo menos uma classe corresponder, mantenha o elemento visível
            if (!hideElement) {
                element.style.display = 'block'; // Ou você pode definir como 'initial' para usar o estilo padrão
            } else {
                // Se nenhuma classe corresponder, oculte o elemento
                element.style.display = 'none';
            }
        });
    }

    function verificacaoCampos(excludedFields, field) {
        const campos = {
            'nomePessoa': 'Nome',
            'emailPessoa': 'Email',
            'telefonePessoa': 'Telefone',
            'estadoCivilPessoa': 'Estado Civil',
            'dataNascimentoPessoa': 'Data de Nascimento',
            'profissaoPessoa': 'Profissão',
            'escolaridadePessoa': 'Escolaridade',
            'idiomaPessoa': 'Idiomas',
            'nacionalidadePessoa': 'Nacionalidade',
            'pastorId': 'Pastor Responsável',
            'categoriasVoluntario': 'Habilidades'
        };

        if (!excludedFields.includes(field.name)) {
            if (field.value.trim() === '' || field.value.trim() === 'Selecione uma opção') {
                return { fieldName: field.name, fieldLabel: campos[field.name] };
            } else {
                return null;  // Retorna null para campos não vazios
            }
        } else {
            return null;  // Retorna null para campos excluídos
        }
    }
</script>