
<!-- Custom-Switcher JS -->
<script src="../assets/js/custom-switcher.min.js"></script>

<!-- Select2 Cdn -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
    $('.single-select').select2({
        dir: "ltr"
    });

    $('.multiple-select').select2({
        dir: "ltr"
    });

    flatpickr(".datetime", {
        enableTime: true,
        dateFormat: "Y-m-d h:i K",
    });

    function formatarDataHora(data) {
        const options = {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: true
        };

        const formato = new Intl.DateTimeFormat('en-US', options).format(data);

        // Dividir a string em partes usando uma expressão regular
        const partes = formato.match(/(\d{1,2})\/(\d{1,2})\/(\d{4}), (\d{1,2}):(\d{2}) ([APMapm]{2})/);

        if (!partes) {
            throw new Error('Formato de data inválido');
        }

        // Extrair componentes da data
        const [, month, day, year, hour, minute, period] = partes;

        // Formatar a data no novo formato
        const novaDataFormatada = `${year}-${month}-${day} ${hour}:${minute} ${period.toUpperCase()}`;

        return novaDataFormatada;
    }


</script>