<!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="index" class="header-logo">
            <img src="../assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
            <img src="../assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
            <img src="../assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
            <img src="../assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
            </div>
            <ul class="main-menu">
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Main</span></li>
                <!-- End::slide__category -->

                <!-- Agenda -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-calendar2'></i>
                        </span>
                        <span class="side-menu__label">Agenda</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Agenda</a>
                        </li>
                        <li class="slide">
                            <a href="home" class="side-menu__item">Ver</a>
                        </li>
                        <li class="slide">
                            <a href="listar-eventos" class="side-menu__item restricao admin">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-evento" class="side-menu__item restricao admin">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Pastores -->
                <li class="slide has-sub restricao admin pastor">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label">Pastores</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Pastores</a>
                        </li>
                        <li class="slide">
                            <a href="listar-pastores" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-pastor" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Lideres -->
                <li class="slide has-sub restricao admin lider">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label">Lideres</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Lideres</a>
                        </li>
                        <li class="slide">
                            <a href="listar-lideres" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-lider" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Habilidades -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-certificate"></i>
                        </span>
                        <span class="side-menu__label">Habilidades</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Habilidades</a>
                        </li>
                        <li class="slide">
                            <a href="listar-habilidades" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-habilidade" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Voluntarios -->
                <li class="slide has-sub restricao admin pastor">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label">Voluntarios</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Voluntarios</a>
                        </li>
                        <li class="slide">
                            <a href="listar-voluntarios" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-voluntario" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Ministerios -->
                <li class="slide has-sub restricao admin lider">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='las la-users'></i>
                        </span>
                        <span class="side-menu__label">Ministerios</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Ministerios</a>
                        </li>
                        <li class="slide">
                            <a href="listar-ministerios" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-ministerio" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Igrejas -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='las la-church'></i>
                        </span>
                        <span class="side-menu__label">Igrejas</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Igrejas</a>
                        </li>
                        <li class="slide">
                            <a href="listar-igrejas" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-igreja" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Categorias dos Eventos -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-certificate"></i>
                        </span>
                        <span class="side-menu__label">Categorias Eventos</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Categorias Eventos</a>
                        </li>
                        <li class="slide">
                            <a href="listar-categorias-eventos" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-categoria-evento" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Admins -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label">Admins</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Admins</a>
                        </li>
                        <li class="slide">
                            <a href="listar-admin" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-admin" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Requisições -->
                <li class="slide has-sub restricao admin pastor lider">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-card-checklist'></i>
                        </span>
                        <span class="side-menu__label">Requisições</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="javascript:void(0)">Requisições</a>
                        </li>
                        <li class="slide">
                            <a href="listar-requisicoes" class="side-menu__item">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-requisicao" class="side-menu__item">Cadastrar</a>
                        </li>
                    </ul>
                </li>
            
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->