<!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="home" class="header-logo">
            <img src="../assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
            <img src="../assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
            <img src="../assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
            <img src="../assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
            </div>
            <ul class="main-menu">

                <!-- Start::slide__category -->
                <li class="slide__category restricao admin"><span class="category-name translate">Atendimento</span></li>
                <!-- End::slide__category -->

                <!-- Atendimentos -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-address-card"></i>
                        </span>
                        <span class="side-menu__label translate">Atendimentos</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-atendimentos" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-atendimento" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name translate">Eventos</span></li>
                <!-- End::slide__category -->

                <!-- Agenda -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-calendar2'></i>
                        </span>
                        <span class="side-menu__label translate">Calendário</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="home" class="side-menu__item translate">Ver</a>
                        </li>
                        <li class="slide">
                            <a href="listar-eventos" class="side-menu__item restricao admin translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-evento" class="side-menu__item restricao admin translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Categorias dos Eventos -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-certificate"></i>
                        </span>
                        <span class="side-menu__label translate">Tipos de Eventos</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-categorias-eventos" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-categoria-evento" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Eventos do Voluntário-->
                <li class="slide has-sub restricao admin voluntarios">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-handshake"></i>
                        </span>
                        <span class="side-menu__label translate">Eventos do Voluntário</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-evento-voluntarios" class="side-menu__item translate">Listar</a>
                        </li>
                    </ul>
                </li>

                <!-- Start::slide__category -->
                <li class="slide__category restricao admin pastor lider"><span class="category-name translate">Pessoas</span></li>
                <!-- End::slide__category -->

                <!-- Pastores -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label translate">Pastores</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-pastores" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-pastor" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Lideres -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label translate">Líderes</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-lideres" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-lider" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Voluntarios -->
                <li class="slide has-sub restricao admin pastor lider">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label translate">Voluntários</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-voluntarios" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide restricao admin">
                            <a href="cadastrar-voluntario" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Membros -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label translate">Membros</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-membros" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-membro" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Admins -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-person'></i>
                        </span>
                        <span class="side-menu__label translate">Admins</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-admin" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-admin" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Habilidades -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-certificate"></i>
                        </span>
                        <span class="side-menu__label translate">Habilidades</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-habilidades" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-habilidade" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>

                <!-- Start::slide__category -->
                <li class="slide__category restricao admin pastor lider"><span class="category-name translate">Ministérios</span></li>
                <!-- End::slide__category -->
                
                <!-- Ministerios -->
                <li class="slide has-sub restricao admin lider pastor">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='las la-users'></i>
                        </span>
                        <span class="side-menu__label translate">Ministérios</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-ministerios" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide restricao admin">
                            <a href="cadastrar-ministerio" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>

                <!-- Start::slide__category -->
                <li class="slide__category restricao admin"><span class="category-name translate">Igrejas</span></li>
                <!-- End::slide__category -->

                <!-- Igrejas -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='las la-church'></i>
                        </span>
                        <span class="side-menu__label translate">Igrejas</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-igrejas" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-igreja" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>

                <!-- Start::slide__category -->
                <li class="slide__category restricao admin"><span class="category-name translate">Relatórios</span></li>
                <!-- End::slide__category -->

                <!-- Relatorios -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="bi bi-graph-up-arrow"></i>
                        </span>
                        <span class="side-menu__label translate">Relatórios</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="graficos-relatorios" class="side-menu__item translate">Gráficos</a>
                        </li>
                        <li class="slide">
                            <a href="listar-relatorios" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-relatorio" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <!-- Categorias Relatorio -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-certificate"></i>
                        </span>
                        <span class="side-menu__label translate">Categorias Relatório</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-categorias-relatorio" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-categoria-relatorio" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                
                <!-- Start::slide__category -->
                <li class="slide__category restricao admin pastor lider"><span class="category-name translate">Criativo</span></li>
                <!-- End::slide__category -->

                <!-- Criativo -->
                <li class="slide has-sub restricao admin pastor lider">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-inboxes'></i>
                        </span>
                        <span class="side-menu__label translate">Criativo</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="ver-criativos" class="side-menu__item translate">Ver</a>
                        </li>
                        <li class="slide">
                            <a href="listar-criativos" class="side-menu__item restricao admin translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-criativo" class="side-menu__item restricao admin translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                
                <!-- Start::slide__category -->
                <li class="slide__category restricao admin pastor lider"><span class="category-name translate">Requisições</span></li>
                <!-- End::slide__category -->

                <!-- Requisições -->
                <li class="slide has-sub restricao admin pastor lider">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bi bi-card-checklist'></i>
                        </span>
                        <span class="side-menu__label translate">Requisições</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-requisicoes" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-requisicao" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>

                <!-- Start::slide__category -->
                <li class="slide__category restricao admin pastor lider"><span class="category-name translate">Abba Empower</span></li>
                <!-- End::slide__category -->

                <!-- Empresários -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-user-tie"></i>
                        </span>
                        <span class="side-menu__label translate">Empresários</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-empresarios" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-empresario" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>

                <!-- Empresas -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-building"></i>
                        </span>
                        <span class="side-menu__label translate">Empresas</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-empresas" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-empresa" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>

                <!-- Segmentos -->
                <li class="slide has-sub restricao admin">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class="las la-certificate"></i>
                        </span>
                        <span class="side-menu__label translate">Segmentos</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="listar-segmentos" class="side-menu__item translate">Listar</a>
                        </li>
                        <li class="slide">
                            <a href="cadastrar-segmento" class="side-menu__item translate">Cadastrar</a>
                        </li>
                    </ul>
                </li>

                
            
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->